/* for laptop screen and above */
@media screen and (min-width: 1026px) {
  header {
    width: 100%;
    font-size: 100%;
  }

}

/* for small laptop and big tablets */

@media screen and (min-width: 768px) and (max-width: 1025px) {

  .nav-container ul {
    padding: 1rem 2rem;
  }

  header {
    width: 100%;
    font-size: 80%;
  }

  .header-container {
    padding: 1rem 2rem;
  }

  .search-input {
    min-width: 25vw;
    min-height: 3vh;
  }

  .cart-info {
    gap: 1rem;
  }

  .cart-quantity {
    font-size: 0.6rem;
    padding: 0.05rem 0.1rem;
    top: -0.1rem;
    left: 0.5rem;
  }

  .below-header ul {
    padding: 3rem 3rem;
    padding-top: 15rem;
  }

  .hero-info {
    gap: 1rem;
    padding: 0 2rem;
    bottom: 18rem;
  }

  .hero-info h3 {
    font-size: 2.5rem;
  }

  .shop-btn {
    padding: 0.5rem 1rem;
    font-size: 80%;
  }

  .features ul{
   
    gap: 3rem;
    margin-top: -18rem;
    
  }
  .features p{
    font-size: 1.2rem;
    gap: 1rem;
  }
  
  .image-container img{
  width: 40%;
  }
  .sale-header h3{
    font-size: 2.5rem;
  }
  .sale-header .left-hr{
    height: 0.2rem;
    min-width:20vw;
    right:25rem;
    bottom:5rem
  }
  .sale-header .right-hr{
    height: 0.2rem;
    min-width:20vw;
    left:25rem;
    bottom:5rem
  }
  .sale-header .left-hr2{
    height: 0.2rem;
    min-width:20vw;
    right:25rem;
    bottom:5rem;}

    .sale-header .right-hr2{
      height: 0.2rem;
      min-width:20vw;
      left:35rem;
      bottom:5rem
    }

  .card-info{
    gap: 0.5rem;
    left:4rem;
  }
  .card-info h5{
    font-size: 1.5rem;
  }
  .card-info .shop-btn{
    margin-top: 0.5rem;
  }
  .showcase-info{
    bottom: 15rem;
    gap: 4rem;
    padding-left: 20rem;
  }
  .showcase-heading{
    font-size: 2rem;
  }
  .showcase-info p{
    font-size: 1.5rem;
  }
  .goal-image-container{
    min-width: 40rem;
    min-height: 35rem;
  }
  .goal-image-container img{
    width: 100%;
    height: 100%;
  }


  .goal-info h4{
    font-size: 3rem;
  }

  .goal-info{

    padding: 0 3rem;
    gap: 3rem;
  }
  .goal-info p{
    font-size: 1.5rem;
  }

  .send-btn{
    padding: 0.8rem 3rem;
    margin-left: -2rem;
  }
  footer{
    margin-top: 5rem;
    padding: 0 5rem;
  }
  
  .footer-logo ul{
    gap: 3rem;
  }
  .footer-content{
    padding-left: 20rem;
  }
}

/* for tablets and big screen mobiles*/
@media screen and (min-width: 425px) and (max-width: 768px) {

  .nav-container ul {
    padding: 1rem 2rem;
  }

  header {
    width: 100%;
    font-size: 50%;
  }

  .header-container {
    padding: 1rem 2rem;
  }

  .search-input {
    max-width: 5vw;
    min-height: 3vh;
  }

  .cart-quantity {
    font-size: 0.4rem;
    padding: 0.03rem 0.2rem;
    top: -0.1rem;
    left: 0.3rem;
  }

  .below-header ul {
    padding: 12rem 2rem;
    font-weight: 600;
    font-size: 70%;
  }

  .hero-section {
    margin-top: -10rem;
  }

  .hero-info {
    gap: 1rem;
    padding: 0 3rem;
    bottom: 16rem;
    font-size: 70%;
  }

  .hero-info h3 {
    font-size: 2rem;
  }

  .shop-btn {
    padding: 0.5rem 1rem;
    font-size: 80%;
  }

  .features ul{
   
    gap: 3rem;
    margin-top: -15rem;
    
  }
  .features p{
    font-size: 1rem;
  }
  
  .image-container img{
  width: 40%;
  }
  .sale-header h3{
    font-size: 2.5rem;
  }
  .sale-header .left-hr{
    height: 0.2rem;
    max-width:1vw;
    right:15rem;
    bottom:5rem
  }
  .sale-header .right-hr{
    height: 0.2rem;
    max-width:1vw;
    left:20rem;
    bottom:5rem
  }

  .sale-header .left-hr2{
    height: 0.2rem;
    min-width:20vw;
    right:15rem;
    bottom:5rem;}

    .sale-header .right-hr2{
      height: 0.2rem;
      min-width:20vw;
      left:30rem;
      bottom:5rem
    }

  .card-info{
    gap: 0.3rem;
    left:2rem;
    bottom: 1rem;

  }
  .card-info h5{
    font-size: 1.3rem;
  }
  .card-info .shop-btn{
    margin-top: 0.5rem;
  }
  .showcase-info{
    bottom: 15rem;
    padding-left: 20rem;
    gap: 2rem;
  }
  .showcase-heading{
    font-size: 1.5rem;
  }
  .showcase-info p{
    font-size: 1.5rem;
  }
  .goal-image-container{
    min-width: 40rem;
    min-height: 35rem;
  }
  .goal-image-container img{
    width: 100%;
    height: 100%;
  }


  .goal-info h4{
    font-size: 3rem;
  }

  .goal-info{

    padding: 0 3rem;
    gap: 3rem;
  }
  .goal-info p{
    font-size: 1.5rem;
  }
  .newsletter-input input{
    min-width: 15vw;
    padding: 0.8rem 3rem;
    margin-left: -2rem;
    min-height: 1vh;
  }
  
}

/* for small screen to big screen mobiles */
@media screen and (min-width: 310px) and (max-width: 426px) {

  .nav-container ul {
    padding: 1rem 1rem;
  }

  header {
    width: 100%;
    font-size: 40%;
  }

  .header-container {
    padding: 1rem 1rem;
  }

  .search-input {
    max-width: 2vw;
    min-height: 1vh;
  }

  .cart-quantity {
    font-size: 0.3rem;
    padding: 0.01rem 0.1rem;
    top: -0.1rem;
    left: 0.2rem;
  }

  .below-header ul {
    padding: 10rem 1rem;
    font-size: 60%;
  }

  .hero-section {
    margin-top: -8rem;
  }

  .hero-info {
    gap: 0.5rem;
    padding: 0 1rem;
    bottom: 8rem;
    font-size: 40%;
  }

  .hero-info h3 {
    font-size: 1rem;
  }

  .shop-btn {
    padding: 0.5rem 1rem;
    font-size: 50%;
  }
  .features ul{
   
    gap: 1rem;
    margin-top: -8.5rem;
    
  }
  .features p{
    font-size: 0.6rem;
  }
  .features h6{
    font-size: 30%;
  }
  .image-container img{
  width: 60%;
  }
  .sale-header h3{
    font-size: 2rem;
  }
  .sale-header .left-hr{
    height: 0.2rem;
    max-width:1vw;
    right:6rem;
    bottom:5rem
  }
  .sale-header .right-hr{
    height: 0.2rem;
    max-width:1vw;
    left:20rem;
    bottom:5rem
  }
  .sale-item {
    flex: 1 0 4rem;
    min-height: 20rem;
    margin: 1rem;
    padding: 1.8rem;
    font-size: 60%;
  }
  .arrows{
    top:28rem;
    margin: 0 1rem;

}
.add-to-cart-btn{
  font-size: 80%;
}

.sale-header .left-hr2{
  height: 0.2rem;
  min-width:5vw;
  right:5rem;
  bottom:5rem;}

  .sale-header .right-hr2{
    height: 0.2rem;
    min-width:5vw;
    left:26.5rem;
    bottom:5rem
  }
.card-container{
  gap:5px;
}
.card-info{
  gap: 0.3rem;
  left:0.5rem;
  bottom: 0.5rem;

}

.card-info{
  font-size: 40%;
}
.card-info h5{
  font-size: 1rem;
}
.card-info .shop-btn{
  margin-top: 0.5rem;
  font-size: 100%;
}

.showcase-info{
  bottom: 6rem;
  gap: 1rem;
  padding-left: 8rem;
}
.showcase-heading{
  font-size: 1rem;
}
.showcase-info p{
  font-size: 1rem;
}

.goal-image-container{
  min-width: 20rem;
  min-height: 15rem;
}
.goal-image-container img{
  width: 100%;
  height: 100%;
}


.goal-info h4{
  font-size:70%
}

.goal-info{

  padding: 0 3rem;
  gap: 1rem;
}
.goal-info p{
  font-size: 50%
}
.readmore{
  background-color: #FF4C11;
  font-size: 50%;
  border: none;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  color: #FFF;
  font-weight: 600;
  margin-bottom: 1rem;
}
.newsletter-info{
  gap: 0.5rem;
}
.newsletter-info h4{
  font-size: 80%
}
.newsletter-info p{
  font-size: 60%;
}
.newsletter-input input{
  min-width: 15vw;
  min-height: 2vh;
  
}
.send-btn{
  padding: 0.3rem 3rem;
  margin-left: -2rem;
  font-size: 80%;
  color: #FFF;
}
footer{
  margin-top: 5rem;
  padding: 0 5rem;
}

.footer-logo ul{
  gap: 3rem;
}
.footer-content{
  padding-left: 18rem;
  font-size: 50%;
}
  
}